# R files to ignore
.Rproj.user
.DS_Store
.Rhistory
.RData
.Ruserdata

# conda cache
.pytest_cache/

#Microsoft temp files
~$*

# Nextflow logs and caches
.nextflow/
.nextflow*
*.log.*
*.run
*dag.pdf.*

# Pipeline specific files
*results/
reports/
dag/
sample_sheet_val/
notes.txt
*patches
notes/
