# R files to ignore
.Rproj.user
.DS_Store
.Rhistory
.RData
.Ruserdata

# conda cache
.pytest_cache/

#Microsoft temp files
~$*

# Nextflow logs and caches
.nextflow/
.nextflow*
*.log.*
*.run
*dag.pdf.*
notes.txt

# Pipeline specific files
*results/
reports/
dag/
*test_sample_sheet.txt
workflow_docs/*.txt
sample_sheet_val/
notes.txt
*patches
notes/
