singularity {
    enabled = true
    autoMounts = true
    cacheDir = '/fh/scratch/delete90/meshinchi_s/jlsmith3/nextflow_scratch'
    runOptions = '--containall --no-home'
}

workDir = '/fh/scratch/delete90/meshinchi_s/jlsmith3/nextflow_scratch'
process.executor = 'slurm'
process.queue = 'campus-new'

//NOTE: currently this approach is not working since the ENV variables are getting evaluated in bash
//this may work with params.json
params {
    FH_BASE_BUCKET="s3://fh-pi-meshinchi-s-eco-public"
}

process {
    errorStrategy = 'retry'
    maxRetries = 3
}