// Run the analysis locally with minimal compute resources
process {
    
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: "${params.publish_dir_mode}", //not working currently -- 
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    workDir = "/Users/jsmi26/Downloads/temp"
    errorStrategy = "retry"
    maxRetries = 1
    //process specific parameters
    withName: FASTQC {
        executor = 'local'
        cpus = 1
        memory = 4.GB
        ext.args = '--quiet'
    }
}

//Use docker engine for now
docker {
    enabled = true
    temp = 'auto'
    runOptions = "--platform linux/amd64"
}
