  // Settings to run the workflow on Sasquatch
  workDir = "/data/hps/assoc/private/{ASSOC}/user/{MY_USERID}/temp"

  params {
  assoc = "{ASSOC}"
  }

profiles{
    sasquatch {
        process.executor = 'slurm'
        process.queue = 'cpu-core-sponsored'
        process.clusterOptions = "--account cpu-${params.assoc}-sponsored --time=72:00:00"
        apptainer.enabled = true
        docker.enabled = false
        apptainer.autoMounts = true
        apptainer.cacheDir = "/data/hps/assoc/private/${params.assoc}/container/rnaseq"
        apptainer.runOptions = '--containall --no-home'
    }
}