// Settings to run the workflow on Sasquatch

params {
    assoc = null
}

workDir = "/data/hps/assoc/private/${params.assoc}/user/$USER/temp_rnaseq"

profiles{
    sasquatch {
        process.executor = 'slurm'
        process.queue = 'cpu-core-sponsored'
        process.memory = 7500.MB
        process.time = '72h'
        process.clusterOptions = "--account cpu-${params.assoc}-sponsored"
        docker.enabled = false
        params.enable_conda = false
    }
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/data/hps/assoc/private/${params.assoc}/container/rnaseq"
    runOptions = '--containall --no-home'
}

executor {
    queueSize = 2000
}
